.graph {
    width: 60em;
    height: 30em;
    background-color: white;
    border-radius: 2%;
    margin-top: 40px;
    margin-left: 100px;
}

.state-heading {
    display: flex;
    flex: content;
    justify-content: center;
}

.state-wise {
    display: flex;
    flex: content;
    justify-content: center;
}